@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
        background-color: rgb(218, 213, 213);
        
}
.container-2{
    list-style: none;
    
}
.banner{
   margin-left: .5rem;
    margin-top: 5rem;
    height: 18rem;
    width: 80rem;
    border-radius: 10px;
    
    
}

.container-2 p{
    margin-top: 5rem;
}



